@font-face {
    font-family: Bootle;
    src: url(Bootle-4B9l.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

#pageTitle {
    text-align: center;
    font-family: 'Bootle', Georgia, 'Times New Roman', Times, serif;
}

#secondTitle {
    text-align: center;
}

#landingIframe {
    min-height: 126px;
    max-width: 70%;
    border: solid teal;
    border-radius: 35px;
}

#albumArt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: gold;
}

#mainContainerOne {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#textEffect {
    font-family: 'Bootle', Georgia, 'Times New Roman', Times, serif;
}

#mainContainerOne {
    font-family: 'Bootle', Georgia, 'Times New Roman', Times, serif;
    word-spacing: 2px;
}

#songSelectionMasterContainer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 100%;
}

#firstFour {
    list-style: none;
    display: flex;
    justify-content: center;
    display: flex;
    gap: 11px;
    font-size: 14px;
}

#secondFour {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 11px;
    font-size: 14px;
    color: teal;
}

#thirdFour {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 11px;
    font-size: 14px;
}

#fourthFour {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 11px;
    font-size: 14px;
    color: teal;
}

#fifthfour {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 11px;
    font-size: 14px;
}

button {
    all: unset;
    cursor: pointer;
    border: 2px outset gray;
    border-radius: 3px;
}

button:focus {
    outline: teal 5px auto;
}

#songInformation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    border: 0;
    padding: 0;
    text-align: center;
    color: teal;
}

img {
    width: 25%;
}

#chartEncapsulation {
    display: none;
    justify-content: center;
}

#showHideChart {
    text-align: center;
    border: 5px;
    color: teal;
    border-style: solid, 2px, white;
}

#desktopOnly{
    display: none;
}

footer {
    margin-top: 10px;
    text-align: left;
    text-decoration: underline;
}

#refrences {
    color: teal;
}

a:hover {
    background-color: gold;
    border-radius: 3px;
  }

/* media queries*/


@media (min-width: 800px) {
    #desktopOnly{
        display: inline;
        margin: 0%;
        border: 0%;
        padding: 0%;
    }

    #songSelectionMasterContainer {
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
       
    }

    

    #firstFour {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        color: white;
        font-size: 16px;
    }
    
    #secondFour {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
    }


    #thirdFour{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
    }

    #fourthFour {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
    }
    
    #fifthfour {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
    }

    button{
        border: none;
    }

    button:hover{
    color: gold;
    }
    
}